.back{
    background-color: #303f9f !important;
}
.ubuntu-fonts{
    font-family: 'Ubuntu', sans-serif !important;
    color: white !important;
    text-align: start !important;
    font-size: 20px !important;
}

li{
    list-style: none;
    padding-bottom: 7px;
}

ul{
    padding-top: 17px;
    padding-top: 10px;
}

.brand-name{
    font-family: 'Carattere', cursive !important;
    font-size: 45px !important;
    color: white;
    text-align: center;
    align-self: center;
}
.copyR{
    text-align: center;
    padding: 3px 0px 8px 0px;
}
.copyIcon{
    font-size: 1rem !important;
}

@media screen and (max-width: 385px) {
    .ubuntu-fonts{
        font-size: 17px !important;
    }
  }