.app-bar-color{
  background-color: #303f9f !important;
}

.logoFonts{
  font-family: 'Carattere', cursive !important;
  font-size: 45px !important;
  color: white;
}

.menu-fonts{
  font-family: 'Ubuntu', sans-serif !important;
  color: white !important;
  font-size: 18px !important;
}
